.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height:  100vh; /* Full height of the viewport */
  width:  100vw; /* Full width of the viewport */
  background: linear-gradient(to right top, #485461, #28313b);
}

.loginForm label {
  color: #ffffff;
}

.loginForm {
  background-color: #eeeee;
  color: #343a40;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:  100%;
  padding:  20px;
  border-radius:  5px;
  box-shadow:  0  0  5px rgba(0,  0,  0,  0);
}

.loginForm label {
  margin-bottom: 10px;
  transition: transform  0.3s ease;
}

.loginForm input {
  background-color: #eeee;
  color: #343a40;
  margin-bottom:  10px;
  border-radius:  5px;
  padding:  10px;
  border:  1px solid;
  transition: border-color  0.3s ease;
  width:  450px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.loginForm input:focus {
  border-color: #f43f5e;
  box-shadow: 0 0 10px rgba(244, 63, 94, 0.3);
  outline: none;
}

.loginForm button {
  background-color: gray;
  color: #fff;
  border: none;
  padding:  10px  20px;
  border-radius:  5px;
  cursor: pointer;
  transition: background-color  0.3s ease;
}

.loginForm button:nth-child(2) {
  background-color: #3498db;
}

.loginForm button:hover {
  background-color: #f43f5e;
}

.buttonContainer {
  display: flex;
  justify-content: space-between; 
  width:  15%; 
  margin-top: 15px;
}
